body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}
.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	// transition: visibility 0.8s ease 0s;
	visibility: hidden;
	pointer-events: none;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: #eee;
	padding: 20px;
	width: 100%;
	// max-width: 900px;
	border-radius: 20px;
	position: relative;
	.lock & {
		visibility: visible;
	}
}

// .popup__close

.popup__close {
	position: absolute;
	top: rem(20);
	right: rem(20);
	color: #1A1A29;
	border: none;
	outline: none;
}

//========================================================================================================================================================

.popup-promo {

	// .popup-promo__body

	&__body {
		@include adaptiveValue("width", 1092, 320);
		@include adaptiveValue("height", 570, 300);
		@include adaptiveValue("padding-right", 108, 20);
		@include adaptiveValue("padding-top", 86, 20);
		overflow: hidden;
		background: #fff;
		display: flex;
		justify-content: flex-end;

		@media (max-width:$mobile){
			justify-content: flex-start; 
		}
	}

	// .popup-promo__img

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		@include adaptiveValue("width", 608, 320);
		min-height: 100%;

		@media (max-width:$mobile){
			display: none;
		}

		img {
			max-width: 100%;
			@include adaptiveValue("height", 570, 400);
		}
	}

	// .popup-promo__content

	&__content {
		@include adaptiveValue("max-width", 400, 300);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@include adaptiveValue("gap", 21, 15);
		position: relative;
		z-index: 2;
	}

	// .popup-promo__logo

	&__logo {
		@include adaptiveValue("width", 297, 197);
		img {
			max-width: 100%;
		}
	}

	// .popup-promo__text

	&__text {
		font-weight: 500;
		@include adaptiveValue("font-size", 14, 10);
		line-height: 1.4;
	}

	// .popup-promo__btn

	&__btn {
		font-weight: 500;
		@include adaptiveValue("font-size", 14, 12);
		line-height: 1.2;
		letter-spacing: 0.2em;
		text-transform: uppercase;
		color: #33344B;
		padding: rem(16) 0;
		@include adaptiveValue("padding-right", 60, 30);
		@include adaptiveValue("padding-left", 60, 30);
		border: 1px solid #D1D2E7;
		filter: drop-shadow(0px 12px 30px rgba(14, 68, 152, 0.15));
		border-radius: 16px;
		transition: all .4s ease 0s;

		@media (any-hover: hover){
			&:hover{
				transform: translateY(-10px);
				border: 1px solid $lightViolet;
			}
		}
	}
}

//========================================================================================================================================================

.result-popup {

	// .result-popup__wrapper

	&__wrapper {
	}

	// .result-popup__content

	&__content {
		@include adaptiveValue("width", 700, 300);
		padding: rem(15);
		padding-top: rem(40);
		background-color: #fff;
		border-radius: rem(20);
	}

	// .result-popup__text

	&__text {
		font-family: 'Hepta Slab';
		font-weight: 400;
		@include adaptiveValue("font-size", 64, 30);
		line-height: 1.12;
		letter-spacing: -0.02em;
		color: #1A1A29;
		text-align: center;
		margin-bottom: rem(15);
	}

	// .result-popup__img

	&__img {
		img {
			max-width: 100%
		}
	}
}
