// Заголовки, загальні БЕМ блоки та інше...

/* Стилизация скролла */
* {
  scrollbar-width: thin;
  scrollbar-color: $lightViolet $mainColor;
}

/* Работает в Chrome, Edge и Safari */
*::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background: $mainColor;
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: $lightViolet;
  border-radius: 8px;
}


//========================================================================================================================================================


.sociable {
  display: flex;
  align-items: center;
  gap: rem(8);

	// .sociable__link

	&__link {
    color: #595A7E;
    height: rem(47);
    width: rem(47);
    border: 2px solid #D1D2E7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(16);
    transition: all .4s ease 0s;

    // .sociable__link_dn-mobi

    &_dn-mobi {
      @media (max-width:$mobileSmall){
        display: none; 
      }
    }

    // .sociable__link_header

    &_header {
      @media (any-hover: hover){
        &:hover{
          transform: translateY(-5px);
        }
      }
    }

    @media (any-hover: hover){
      &:hover{
        border: 2px solid $lightViolet;
        color: $lightViolet;
      }
    }

    // .sociable__link_blue

    &_blue {
      @media (any-hover: hover){
        &:hover{
          border: 2px solid rgb(17, 69, 238);
          color: rgb(17, 69, 238);   
        }
      }
    }
    // .sociable__link_red

    &_red {
      @media (any-hover: hover){
        &:hover{
          border: 2px solid red;
          color: red;   
        }
      }
    }
	}
}

//========================================================================================================================================================

.footer-title {
  font-family: 'Hepta Slab', serif;
  font-weight: 600;
  @include adaptiveValue("font-size", 18, 14);
  line-height: 1.333;
  color: #333333;
}

.text {
  font-weight: 300;
  @include adaptiveValue("font-size", 16, 12);
  line-height: 1.5;

  span {
    font-weight: 600;
    color: $blueGrey;
  }
}

.video-link {
  font-weight: 600;
  font-size: rem(14);
  line-height: 1.2;
  color: #1A1A29;
  display: flex;
  align-items: center;
  column-gap: rem(15);
  transition: color .3s ease 0s;

  span {
    @media (max-width:$mobileSmall){
      display: none; 
    }
  }

  @media (any-hover: hover){
    &:hover{
      color: #FF1600;
    }
  }

  &::before{
    color: #FF1600;
    font-size: rem(30);
  }
}

.wrap-title-blue {

  // .wrap-title-blue__subtitle

  &__subtitle {
    font-weight: 600;
    @include adaptiveValue("font-size", 16, 10);
    line-height: 1.19;
    color: $violetColor;
  }

  // .wrap-title-blue__title

  &__title {
    font-family: 'Hepta Slab';
    font-weight: 700;
    @include adaptiveValue("font-size", 36, 20);
    line-height: 1.25;
    color: #0E2859;

    &_s48 {
      @include adaptiveValue("font-size", 48, 24);
    }
  }
}
